**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [3]:
# Write the code you need here to figure out the answer
len(list(client.list_tables(dataset)))

1

In [4]:
num_tables = len(list(client.list_tables(dataset))) # Store the answer as num_tables and then run this cell

q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [5]:
q_1.hint()
q_1.solution()

Hint: Use the `list_tables()` method to get a list of the tables in the dataset.

Solution:
```python

# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

num_tables = 1

```

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [6]:
# Write the code to figure out the answer
table_ref = dataset_ref.table("crime")
table = client.get_table(table_ref)
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, ()),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, ()),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, ()),
 SchemaField('block', 'STRING', 'NULLABLE', None, ()),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, ()),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, ()),
 SchemaField('description', 'STRING', 'NULLABLE', None, ()),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, ()),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, ()),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, ()),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, ()),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('location', 'STRING', 'NULLABLE', None, ())]

In [7]:
num_timestamp_fields = 2 # Put your answer here

q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [8]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [9]:
# Write the code here to explore the data so you can find the answer
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, ()),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, ()),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, ()),
 SchemaField('block', 'STRING', 'NULLABLE', None, ()),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, ()),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, ()),
 SchemaField('description', 'STRING', 'NULLABLE', None, ()),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, ()),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, ()),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, ()),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, ()),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('location', 'STRING', 'NULLABLE', None, ())]

In [10]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [11]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [12]:
# Scratch space for your code
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11060331,JA397659,2017-08-13 12:27:00+00:00,0000X W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42,32,02,1176068.0,1901284.0,2017,2018-02-10 15:50:01+00:00,41.884486,-87.628909,"(41.884486217, -87.628908795)"
1,7263938,HR678180,2009-12-06 03:00:00+00:00,006XX W WASHINGTON BLVD,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,PARKING LOT/GARAGE(NON.RESID.),False,False,...,27,28,03,1171769.0,1900767.0,2009,2018-02-28 15:56:25+00:00,41.883163,-87.644710,"(41.883163285, -87.644710386)"
2,2431199,HH749112,2002-10-30 21:59:19+00:00,005XX W MADISON ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,42,28,03,1173039.0,1900311.0,2002,2018-02-28 15:56:25+00:00,41.881884,-87.640060,"(41.881883933, -87.640060441)"
3,13141030,JG340094,2023-07-13 22:00:00+00:00,002XX N STATE ST,0320,ROBBERY,STRONG ARM - NO WEAPON,CTA PLATFORM,False,False,...,42,32,03,1176327.0,1901797.0,2023,2023-08-19 15:40:26+00:00,41.885888,-87.627942,"(41.885888079, -87.627942238)"
4,2314598,HH602912,2002-08-24 22:45:00+00:00,003XX W WASHINGTON ST,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,...,42,32,03,1174205.0,1900802.0,2002,2018-02-28 15:56:25+00:00,41.883205,-87.635764,"(41.88320534, -87.635764295)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum) to chat with other Learners.*